<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">

  <div class="bg-white p-10 rounded-3xl shadow-lg text-center max-w-md w-full">

    <div class="text-6xl mb-4">
      ✅
    </div>

    <h1 class="text-3xl font-bold mb-3">
      ¡Pago realizado!
    </h1>

    <p class="text-gray-600 mb-6">
      Gracias por tu compra.
      Tu pago fue procesado correctamente.
    </p>

    <a
      routerLink="/"
      class="inline-block bg-black text-white px-6 py-3 rounded-xl hover:opacity-90 transition"
    >
      Volver a la tienda
    </a>

  </div>

</div>
