<div class="flex flex-col lg:flex-row gap-6">

  <!-- SIDEBAR CATEGORIAS -->
  <div class="w-full lg:w-80">

    <ul class="flex lg:flex-col gap-4 overflow-x-auto lg:overflow-visible pb-2">

      <li>
        <a routerLink="/" class="whitespace-nowrap hover:underline">
          All
        </a>
      </li>

      @for (category of categories(); track category) {
        <li>
          <a
            routerLink="/"
            [queryParams]="{category_id: category.id}"
            class="whitespace-nowrap hover:underline"
          >
            {{ category.nombre }}
          </a>
        </li>
      }

    </ul>

  </div>

  <!-- GRID PRODUCTOS -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full">

    @for (product of products(); track product) {
      <app-product
        [product]="product"
        (addToCart)="addToCart($event)" />
    }

  </div>

</div>
