<div class="w-full flex flex-col lg:flex-row gap-8">

  <!-- IMAGENES -->
  <div class="flex flex-col w-full lg:w-1/2">

    <!-- Imagen principal -->
    <div class="w-full rounded border border-gray-200">
      <img
        alt="ecommerce"
        class="w-full h-[350px] md:h-[450px] lg:h-[500px] object-cover object-center"
        [src]="cover()"
      />
    </div>

    <!-- Miniaturas -->
    <div class="flex items-center justify-center mt-2">
      <div class="grid grid-cols-4 gap-2">
        @for (img of product()?.images; track img) {
          <img
            alt="ecommerce"
            class="h-16 w-full object-cover object-center rounded border-2 border-gray-200 cursor-pointer"
            [src]="img"
            (click)="changeCover(img)"
            [class.border-red-400]="img === cover()"
          />
        }
      </div>
    </div>

  </div>

  <!-- INFO PRODUCTO -->
  <div class="w-full lg:w-1/2">

    <h2 class="text-sm title-font text-gray-500 tracking-widest">
      {{ product()?.category?.nombre | uppercase }}
    </h2>

    <h1 class="text-gray-900 text-3xl title-font font-medium mb-3">
      {{ product()?.title }}
    </h1>

    <p class="leading-relaxed">
      {{ product()?.description }}
    </p>

    <p class="title-font font-medium text-2xl text-gray-900 mt-5">
      {{ product()?.price | currency: '$': 'symbol': '1.0' }}
    </p>

    <button
      (click)="addToCart()"
      class="mt-4 flex text-white bg-red-500 border-0 py-3 px-6 focus:outline-none hover:bg-red-600 rounded"
    >
      Add To Cart
    </button>

  </div>

</div>
